body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.tipsboard {
    width: 300px;
    height: 400px;
    margin-top: 100px;
    padding: 10px;
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.calculator {
    width: 400px;
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display {
    flex: 2;
    border: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    container-type: inline-size;


}

#display {
    box-sizing: border-box;
    text-align: right;
    font-size: 50px;
    height: 100px;
    width: 100cqw;
    border: 3px solid blue;
    border-radius: 8px;
}

#display:focus {
    outline: none;
}

.inputboard {
    display: flex;
    flex-wrap: wrap;
    flex: 5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 20px;
    container-type: inline-size;
}

.input {
    width: calc(25% - 15px);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: gray;
    color: white;

}

.operator,
.equal {
    background-color: orange;
    color: white;
    border: none;
}

.clearButton,
.plusOrMinus,
.percent {
    background-color: slategray;
}


/*.zero {
    width: calc(50% - 15px);
    height: calc(25cqw - 15px);
    border-radius: 999px;
}*/








.changeOpacity {
    transition: all 0.3s ease;
}

.changeOpacity:hover {
    opacity: 0.5;
    cursor: pointer;
}

.activated {
    transition: all 0.3s ease;
    background-color: greenyellow;
    color: white;
}
